*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
}
nav{
    background-color: black;
    width: 100%;
    height: 22vh;
}
.nav-main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-around; */
    /* text-align: center; */
    color: white;
}
.nav-left{
    margin-top: 4%;
    width: 25%;
}
.nav-right{
    margin-top: 3%;
    width: 49%;
}
.drop-down{
    display: flex;
    list-style: none;
    font-size: 2.5rem;
    gap: 4%;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: black;
    border: 2px solid grey;
    border-radius: 50px;
    padding: 3%;
}
.drop-down li:hover{
    color: rgb(13, 204, 210);
    transition: .7s;
}
.nav-side-bar{
    background-color: palegreen;
    border: none;
    font-size: 3.5rem;
    border-radius: 50%;
    margin-top: 3%;
    padding: 1%;
    display: none;
}
.nav-side-bar i{
    color: black;
}
.sidebar{
    width: 25%;
    height: 100vh;
    background-color: black;
    color: white;
    margin-left: 75%;
    top: 0;
    position: absolute;
    display: none;
}
.side-bar-top{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 10%;
}
.top-1{
    display: flex;
    justify-content: space-between;
}
.sidebar-func{
    font-size: 3.5rem;
    background-color: palegreen;
    border-radius: 50%;
    margin-right: 5%;
    width: 15%;
    border: none;
}
.sidebar-func i{
    color: black;
    margin-bottom: 8px;
}
.sidebar-2{
    margin-top: 10%;
}
.sidebar-list{
    font-size: 3rem;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.side-bar-down{
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 55%;
}
.sidebar-btn{
    border: 2px solid black;
    background-color: palegreen;
    padding: 2%;
    width: 60%;
    color: black;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 10%;
}
        /* sec-1 */
.sec-1-main{
    width: 90%;
    margin: auto;
}
.sec-1-main span{
    font-size: 15rem;
}
.sec-1-main h1{
    font-size: 15rem;
}
.sec-1-display{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    text-transform: uppercase;
}
.sec-1-display ul{
    display: flex;
    list-style: none;
    gap: 15%;
    font-size: 4rem;
}
.sec-2{
    margin-top: 5%;
}
.sec-2 img{
    width: 100%;
    height: 75vh;
    position: sticky;
}
.sec-3{
    margin-top: 5%;
}
.sec-3-main{
    width: 90%;
    margin: auto;
}
.sec-3-position{
    width: 100%;
    position: relative;
    margin-top: 2%;
}
.sec-3-position h1{
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
}
.sec-3-position h3{
    font-size: 3rem;
    position: absolute;
    margin-top: -15%;
}
.sec-3-pos5{
    width: 100%;
    position: relative;
    margin-top: 2%;
}
.sec-3-pos5 h1{
    font-size: 8rem;
    text-transform: uppercase;
    text-align: center;
}
.sec-3-pos5 h3{
    font-size: 3rem;
    position: absolute;
    margin-top: -7%;
}


@media  screen and (max-width:950px){
    .nav-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-left{
        margin-top: 10%;
    }
    .nav-right{
        display: none;
    }
    .nav-side-bar{
        display: block;
        margin-top: 10%;
    }
}